#login #content {
	float: none;
	width: 100%
}

#login .mainbox {
	height: auto;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#login .mainbox h2 {
	margin: -20px -20px 0;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5
}

#login .mainbox h2 span {
	margin-left: 10px;
	font-size: 14px;
	font-weight: normal
}

.pg-login .signup-section {
	float: left;
	width: 659px;
	height: 350px;
	margin-bottom: -20px;
	padding: 20px 20px 20px 0;
	border-right: 1px solid #e5e5e5
}

.pg-login .signup-section .account-tip {
	margin-bottom: -5px;
	padding-top: 5px;
	line-height: 14px;
	font-size: 12px;
	color: #666
}

.pg-login .oauth-section {
	float: left;
	width: 224px;
	padding: 20px 0 0 14px
}

.pg-login .oauth-section h3 {
	margin: 0 0 10px 6px;
	font-weight: normal
}

.pg-login .oauth-section .switch-area {
	padding-left: 6px
}

.pg-login .oauth-section .switch-area .normal-button {
	margin: 15px 60px 15px 0
}

.pg-login .open-auth {
	overflow: hidden;
	zoom: 1
}

.pg-login .open-auth li {
	margin: 0 0 8px 6px
}

.pg-login .field-group {
	margin-bottom: 0;
	padding: 10px 0 10px 60px
}

.pg-login .field-group label {
	width: 50px
}

.pg-login .form-button {
	width: 100px
}

#signup #content {
	float: none;
	width: 100%
}

#signup .mainbox {
	padding: 28px 60px 20px;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4
}

#signup .head-section {
	position: relative;
	border-bottom: 1px solid #d9e8e8;
	margin-bottom: 20px
}

#signup .head-section ul {
	margin-left: 10px
}

#signup .head-section li {
	display: inline-block;
	*display: inline;
	margin-right: 3px;
	zoom: 1
}

#signup .head-section li a {
	position: relative;
	_float: left;
	display: block;
	padding: 0 39px 0 62px;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #399;
	background: #e9f6f6;
	border-width: 1px;
	border-style: solid;
	border-color: #d9e8e8 #d9e8e8 #e9f6f6;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	zoom: 1
}

#signup .head-section li a:hover {
	text-decoration: none
}

#signup .head-section li a span {
	display: none;
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -6px;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	border-width: 6px;
	border-style: solid dashed dashed;
	border-color: #1aa29e transparent transparent
}

#signup .head-section li a i {
	position: absolute;
	top: 50%;
	left: 39px;
	display: block;
	width: 16px;
	height: 12px;
	margin-top: -6px;
	background: url(image/sp-icon.png) -22px -40px no-repeat
}

#signup .head-section li.current a {
	color: #FFF;
	background: #1aa29e;
	border: 1px solid #1aa29e
}

#signup .head-section li.current a span {
	display: block
}

#signup .head-section li.current a i {
	background-position: -38px -40px
}

#signup .head-section a.mobile-trigger {
	padding-left: 57px
}

#signup .head-section a.mobile-trigger i {
	width: 11px;
	height: 16px;
	margin-top: -8px;
	background-position: 0 -40px
}

#signup .head-section li.current a.mobile-trigger i {
	background-position: -11px -40px
}

#signup .head-section span.login-guide {
	position: absolute;
	right: 0;
	bottom: 5px;
	font-size: 14px;
	font-weight: normal
}

#signup .field-group {
	margin-bottom: 0;
	padding: 10px 0 10px 80px
}

#signup .field-group label {
	width: 70px
}

#signup .operate {
	margin-top: 10px
}

#signup .form-button {
	margin-bottom: 10px;
	margin-top: 15px
}

#signup .terms {
	font-size: 12px
}

#signup-form {
	position: relative;
	margin-bottom: 20px
}

#signup-form .email-auto {
	position: absolute;
	top: 42px;
	left: 80px;
	width: 260px;
	color: #666;
	font-size: 12px;
	background: #fff;
	box-shadow: 0 1px 3px #c0ddf6;
	overflow: hidden;
	z-index: 1
}

#signup-form .iframe {
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
	background: transparent;
	opacity: 0;
	filter: alpha(opacity = 0);
	z-index: -1
}

#signup-form .email-title {
	color: #666;
	padding: 3px 5px;
	border: 1px solid #89b4d6;
	border-bottom: 0
}

#signup-form .email-list {
	border: 1px solid #89b4d6;
	border-top: 0
}

#signup-form .email-list li {
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	cursor: pointer
}

#signup-form .email-list .current {
	background-color: #ddd;
	color: #000
}

#signup-form .email-list .current {
	background-color: #ddd;
	color: #000
}

#mobile-signup-form .verify-mobile {
	margin-top: 6px
}

#mobile-signup-form .verify-btn {
	padding: 3px;
	*padding: 4px 3px 2px;
	cursor: pointer;
	font-size: 12px;
	vertical-align: middle
}

#mobile-signup-form .verify-tip {
	margin-left: 10px;
	font-size: 12px;
	color: #666
}

#mobile-signup-form .error {
	color: #C33;
	zoom: 1
}

#mobile-signup-form .form-button {
	margin-top: 15px;
	font-size: 16px
}

#mobile-captcha-dialog .field-group {
	margin-bottom: 0;
	padding: 5px 0 20px 82px
}

#mobile-captcha-dialog .field-group label {
	width: 72px
}

#mobile-captcha-dialog .form-button {
	margin: 0
}

#bind-mobile-coaccount #content {
	float: none;
	width: 100%
}

#bind-mobile-coaccount .mainbox {
	padding: 0 20px 20px;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	text-align: center
}

#bind-mobile-coaccount .mainbox h2 {
	margin: 0 -20px 0;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5;
	text-align: left
}

.pg-bind-mobile-coaccount .no-mobile-bound {
	padding: 20px 0 10px 0
}

.pg-bind-mobile-coaccount .no-mobile-bound .warning {
	padding-left: 60px;
	display: inline-block;
	background: url(image/sys-icons-48.png) left center no-repeat;
	line-height: 62px;
	font-size: 22px;
	font-weight: bold
}

.pg-bind-mobile-coaccount .mobile-bind-form-wrapper {
	padding: 30px 30px 30px 30px;
	width: 500px;
	display: inline-block;
	text-align: left
}

#mobile-bind-form .field-group {
	margin-bottom: 0;
	padding: 10px 0 10px 80px
}

#mobile-bind-form .field-group label {
	width: 70px
}

#mobile-bind-form .block-tip {
	margin-top: 5px;
	padding-bottom: 15px
}

#mobile-bind-form .verify-mobile {
	margin-top: 6px
}

#mobile-bind-form .verify-btn {
	padding: 3px;
	*padding: 4px 3px 2px;
	cursor: pointer;
	font-size: 12px;
	vertical-align: middle
}

#mobile-bind-form .verify-tip {
	margin-left: 10px;
	font-size: 12px;
	color: #666
}

#mobile-bind-form .error {
	color: #C33;
	zoom: 1
}

#mobile-bind-form .form-button {
	font-size: 16px
}

#set-password-coaccount #content {
	float: none;
	width: 100%
}

#set-password-coaccount .mainbox {
	padding: 0 20px 20px;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	text-align: center
}

#set-password-coaccount .mainbox h2 {
	margin: 0 -20px 0;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5;
	text-align: left
}

.pg-set-password-coaccount .no-password {
	padding: 20px 0 10px 0
}

.pg-set-password-coaccount .no-password .warning {
	padding-left: 60px;
	display: inline-block;
	background: url(image/sys-icons-48.png) left center no-repeat;
	line-height: 62px;
	font-size: 22px;
	font-weight: bold
}

.pg-set-password-coaccount .set-password-form-wrapper {
	padding: 30px 30px 30px 30px;
	width: 500px;
	display: inline-block;
	text-align: left
}

.pg-set-password-coaccount .set-password-form-wrapper .f-display {
	margin-bottom: 15px;
	line-height: 34px
}

.pg-set-password-coaccount .set-password-form-wrapper .f-display label {
	line-height: 34px
}

.pg-set-password-coaccount .set-password-form-wrapper .f-display .inline-link
	{
	line-height: 34px
}

.pg-set-password-coaccount .set-password-form-wrapper .f-display span.text
	{
	padding-left: 0
}

.pg-set-password-coaccount .set-password-form-wrapper .field-group {
	padding-left: 130px
}

.pg-set-password-coaccount .set-password-form-wrapper .field-group label
	{
	width: 120px
}

.pg-config-mobile-coaccount {
	text-align: center
}

.pg-config-mobile-coaccount .tip-success {
	margin: 70px auto 70px;
	width: 285px
}

.pg-config-mobile-coaccount .tip-success h3 {
	position: relative;
	padding: 0 0 0 65px;
	left: -20px;
	display: inline-block;
	background: url(image/sys-icons-48-s.png) no-repeat;
	text-align: left;
	font-size: 30px;
	line-height: 52px;
	color: #000
}

.pg-config-mobile-coaccount .detail {
	margin-top: 5px;
	color: #333
}

.pg-config-mobile-coaccount .extra {
	width: 285px;
	margin: 0 auto
}

#signuped #content {
	float: none;
	width: 100%
}

#signuped .mainbox {
	height: auto;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#signuped .mainbox h2 {
	margin: -20px -20px 0;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5
}

#signuped .notice-content {
	margin: 30px 80px;
	padding: 10px;
	text-align: center;
	background: #ffffeb;
	border: 1px solid #eeeed6
}

#signuped .notice-content p {
	margin-bottom: 15px
}

#signuped .notice-content strong {
	color: #c00
}

#signuped .help-tip {
	margin: 30px 80px;
	padding: 0;
	text-align: left;
	font-size: 12px
}

#signuped .help-tip h3 {
	margin-bottom: 5px;
	padding-left: 20px;
	background: url(image/sys-icons-16.png) 0 -397px no-repeat
}

#signuped .help-tip li {
	color: #666
}

#signuped .help-tip .normal-button {
	margin: 0 5px;
	padding: 2px 5px;
	vertical-align: bottom;
	*vertical-align: baseline
}

#signuped .unverified-box {
	padding: 20px 130px
}

#signuped .unverified-box h2 {
	margin: -20px -130px 0
}

#signuped .notice {
	background: #ffffec;
	margin: 45px 0 20px;
	padding: 20px 0;
	border: 1px solid #eeeed6;
	text-align: center
}

#signuped .notice .extra {
	color: #666;
	font-size: 12px
}

#signuped .notice span.label {
	color: #cb0000;
	font-weight: bold;
	line-height: 30px
}

#signuped .unverified-box .verify {
	margin-top: 15px
}

#signuped .unverified-box .help-tip {
	margin: 20px 0;
	color: #000
}

#signuped .unverified-box .more {
	font-size: 12px;
	color: #666
}

#deal-login #content {
	float: none;
	width: 100%
}

#deal-login .mainbox {
	height: auto;
	padding: 0;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#deal-login .mainbox h2 {
	margin: 0 -20px 20px;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5
}

#deal-login .mainbox h2 span {
	font-weight: normal;
	margin: 0 0 0 6px;
	color: #666
}

#deal-login .field-group {
	padding-top: 5px;
	padding-bottom: 20px
}

#deal-login #signup,#deal-login #login {
	float: left;
	padding: 0 20px 20px
}

#deal-login #login {
	width: 439px
}

#deal-login #login .oauth {
	margin-left: 0;
	margin-right: 0
}

#deal-login #login .oauth h3 {
	margin: 50px 0 10px;
	font-weight: normal
}

#deal-login #login .oauth li {
	margin: 0 6px 8px 0
}

#deal-login #signup {
	width: 438px;
	border-right: 1px solid #ededed
}

#deal-login #signup .email-auto {
	top: 37px;
	left: 80px
}

#deal-login .mainbox .current {
	background: #deeefc
}

#reset .field-group {
	margin-bottom: 0;
	padding: 10px 0 10px 70px
}

#reset .field-group label {
	width: 60px
}

#resetverify-form .field-group label {
	width: 80px
}

#resetverify-form .field-group {
	padding-left: 90px
}

#reset .mainbox {
	height: auto;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#reset .mainbox h2 {
	margin: -20px -20px 0;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5
}

#reset .notice {
	margin: 30px 80px;
	padding: 10px;
	text-align: center;
	background: #ffffeb;
	border: 1px solid #eeeed6
}

#reset .notice p {
	margin-bottom: 15px
}

#reset .notice strong {
	color: #c00
}

#verify #content {
	float: none;
	width: 100%
}

#verify .mainbox {
	text-align: center;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#verify .notice-title {
	width: 390px;
	margin: 40px auto 5px;
	margin-bottom: 30px;
	padding-left: 60px;
	text-align: left;
	font-size: 32px;
	line-height: 52px;
	background: url(image/sys-icons-48.png) 0 0 no-repeat
}

#verify .auto-redirect {
	margin-bottom: 30px
}

#verify .link-button {
	width: 100px
}

#verify .pg-signupok .result-box h3 {
	margin-bottom: 20px
}

#verify .pg-signupok .result-operation {
	margin-top: 30px;
	text-align: center
}

#verify .pg-signupok .go-setting {
	margin-left: 20px
}

#reverify #content {
	float: none;
	width: 100%
}

#reverify .mainbox {
	height: auto;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#reverify .mainbox h2 {
	margin: -20px -20px 0;
	padding: 15px 0 9px 20px;
	font-size: 30px;
	background: url(image/content-title-bg.png) top center repeat-x;
	border-bottom: 1px solid #e5e5e5
}

#reverify .notice {
	margin: 20px 0 50px;
	padding: 0
}

#reverify .notice h3 {
	margin-bottom: 20px
}

#reverify .notice .mobile .mobile-number {
	margin-right: 20px;
	line-height: 32px
}

#reverify .notice .operate input {
	width: 100px
}

#reverify .help-tip {
	font-size: 12px
}

#reverify .help-tip h3 {
	margin-bottom: 5px;
	padding-left: 20px;
	background: url(image/sys-icons-16.png) 0 -397px no-repeat
}

#reverify .help-tip li {
	list-style-position: inside;
	list-style-type: disc;
	color: #666
}

#reverified #content {
	float: none;
	width: 100%
}

#reverified .mainbox {
	text-align: center;
	border: 1px solid #a3d7df;
	box-shadow: 0 0 1px #d4edf4;
	overflow: hidden;
	zoom: 1
}

#reverified .notice-title {
	width: 320px;
	margin: 40px auto 5px;
	padding-left: 60px;
	text-align: left;
	font-size: 32px;
	line-height: 52px;
	background: url(image/sys-icons-48.png) 0 0 no-repeat
}

#reverified .auto-redirect {
	margin-bottom: 30px
}

#reverified .link-button {
	width: 100px
}

#bind .bind {
	color: #333
}

#bind .bind .head {
	padding: 30px 10px 25px 40px
}

#bind .bind .sect {
	height: 330px
}

#bind .bind .list {
	float: left;
	margin: 10px 30px 10px;
	_display: inline
}

#bind .bind .list li {
	float: left;
	padding: 15px 10px;
	list-style-position: inside;
	list-style-type: none
}

#bind .bind .list .current {
	background: #f5f5f5
}

#bind .bind .list h3 {
	font-size: 16px;
	cursor: pointer
}

#bind .bind .list .input {
	float: left;
	width: 37px;
	margin-top: 3px;
	*margin-top: 0;
	_margin-top: 1px
}

#bind .bind .list .text {
	float: left;
	width: 500px
}

#bind .bind .list .f-text {
	width: 240px
}

#bind .bind .list .intro {
	margin: 10px 0 5px
}

#bind .bind .list .commit {
	padding-top: 10px
}

#bind .bind .list .create {
	margin-top: 15px
}

#bind .bind .list .formbutton {
	width: 65px;
	height: 26px;
	background: url(image/button-kaixin-bind.gif) no-repeat 0 0;
	overflow: hidden;
	text-indent: -9999em;
	*text-indent: 0;
	*padding-left: 999em;
	border: 0 solid #fff
}

#bind .bind .list .commit .formbutton {
	background-position: 0 -100px
}

#bind .bind .list .hide {
	overflow: hidden;
	height: 0
}

#bind .bind .list .textbody {
	overflow: hidden
}

#bind .bind .enter-account td {
	padding: 5px 0
}

#bind .bind #kaixin-bind-list h3 {
	margin-bottom: 10px
}

#bind-form {
	margin: 30px 0 100px
}

#bind-form .bind-box {
	margin: 5px 20px;
	padding: 10px 20px
}

#bind-form .bind-box h3 {
	margin-bottom: 5px;
	font-size: 16px;
	cursor: pointer
}

#bind-form .bind-box h3 span {
	font-size: 14px;
	color: #555;
	font-weight: normal
}

#bind-form .bind-box .field-group {
	padding-left: 61px
}

#bind-form .bind-box label {
	width: 46px;
	padding-top: 5px;
	cursor: pointer
}

#bind-form .bind-box .content {
	height: 0
}

#bind-form .content {
	position: relative;
	overflow: hidden;
	zoom: 1
}

#bind-form .content p {
	padding: 6px 20px 0;
	margin-top: 12px
}

#bind-form .current {
	background: #f5f5f5;
	border-radius: 5px
}

#bind-form .current .content {
	height: auto
}

#bind-form .f-text {
	padding: 6px;
	width: 240px;
	border-radius: 3px
}

#bind-form .content .submit {
	padding: 6px 20px 10px 62px
}

#bind-form #bind-by-signup .field-group {
	padding-left: 80px
}

#bind-form #bind-by-signup label {
	width: 70px
}

#settings .head {
	position: relative
}

#settings .sect h3 {
	margin: 0 0 10px 10px;
	font-size: 14px
}

#settings .settings-box h3 {
	margin: 0 0 10px 0;
	font-size: 14px
}

#settings .field .mobile {
	width: 120px
}

#settings .coupons-table {
	margin: 0 0 20px 60px;
	width: 350px;
	text-align: center;
	font-size: 14px
}

#settings .coupons-table td {
	font-size: 12px
}

#settings .coupons-table .mobile {
	width: 150px;
	font-size: 14px;
	text-align: left
}

#settings .coupons-table a.disabled {
	color: #333;
	text-decoration: none
}

#settings .coupons-table .msg {
	display: block;
	color: #c00
}

#settings .address-add h3 {
	margin-left: 17px
}

#settings .whybind {
	margin: 60px 0 10px;
	padding: 10px;
	zoom: 1;
	background: #fffbcc;
	border: 1px solid #ffec19
}

#settings .whybind h3 {
	margin-bottom: 5px
}

#settings .whybind ol li {
	list-style-position: inside;
	list-style-type: decimal
}

.settings-form-wrapper .common-form {
	margin: 20px 0 10px
}

.settings-form-wrapper .field-group {
	margin: 5px 0;
	padding: 0 10px 21px 110px;
	line-height: 21px
}

.settings-form-wrapper .field-group label {
	top: 6px;
	margin: 0;
	padding: 0;
	line-height: 21px
}

.settings-form-wrapper .field-group .f-text {
	margin-bottom: 3px;
	height: 21px;
	line-height: 21px
}

.settings-form-wrapper .field-group .form-button {
	width: 70px
}

.settings-form-wrapper .field-group .readonly {
	color: #666;
	background: #f1f1f1
}

.settings-form-wrapper .f-display {
	margin: 0;
	padding: 6px 10px 5px 110px;
	line-height: 29px
}

.settings-form-wrapper .f-display label {
	line-height: 29px
}

.settings-form-wrapper .f-display span.text {
	margin-left: 20px;
	line-height: 29px;
	vertical-align: top;
	*zoom: 1
}

.settings-form-wrapper .f-display span.multiple-mobile-bind-warn {
	font-size: 12px;
	color: #D00
}

.settings-form-wrapper .f-display .inline-link {
	margin-left: 2em;
	line-height: 29px;
	vertical-align: top
}

.settings-form-wrapper .f-password .inline-link {
	margin-left: 20px
}

#settings .sideinner-mobile-good-list {
	padding-left: 4px;
	font-size: 12px;
	line-height: 24px;
	color: #666
}

#settings .sideinner-mobile-good-list li {
	list-style: inside disc
}

#settings-username-reset-dialog .common-form {
	margin: 30px 0 10px
}

#settings-username-reset-dialog .field-group {
	margin: 5px 0;
	padding: 0 10px 22px 110px;
	line-height: 22px
}

#settings-username-reset-dialog .field-group label {
	top: 6px;
	margin: 0;
	padding: 0;
	line-height: 22px
}

#settings-username-reset-dialog .field-group .f-text {
	margin-bottom: 3px;
	height: 22px;
	line-height: 22px
}

#settings-username-reset-dialog .field-group .form-button {
	width: 70px
}

#settings-username-reset-dialog .field-group .readonly {
	color: #666;
	background: #f1f1f1
}

#settings-username-reset-dialog .operate {
	margin: 10px 0 3px
}

#settings-password-reset-dialog .common-form {
	margin: 30px 0 10px
}

#settings-password-reset-dialog .field-group {
	margin: 5px 0;
	padding: 0 10px 22px 110px;
	line-height: 22px
}

#settings-password-reset-dialog .field-group label {
	top: 6px;
	margin: 0;
	padding: 0;
	line-height: 22px
}

#settings-password-reset-dialog .field-group .f-text {
	margin-bottom: 3px;
	height: 22px;
	line-height: 22px
}

#settings-password-reset-dialog .field-group .form-button {
	width: 70px
}

#settings-password-reset-dialog .field-group .readonly {
	color: #666;
	background: #f1f1f1
}

#settings-password-reset-dialog .operate {
	margin: 10px 0 3px
}

#settings .subscription-form {
	padding: 0 15px
}

#settings .subscription-form .subscription-choice {
	margin-bottom: 10px;
	font-size: 16px
}

#settings .subscription-form .subscription-choice input,#settings .subscription-form .subscription-choice label
	{
	vertical-align: middle
}

#settings .subscription-form .field-group {
	margin-bottom: 10px;
	padding-bottom: 3px
}

#settings .subscription-form .subscribed {
	margin-bottom: 20px
}

#settings .subscription-form .subscribed .more .inline-link {
	margin-left: 0;
	font-size: 14px;
	line-height: 21px
}

#settings .subscription-form .frequency-list li {
	display: inline-block;
	*display: inline;
	margin-right: 2em
}

#settings .subscription-form .email span {
	color: #797979
}

#settings .subscription-form .city-wrapper {
	padding-top: 5px;
	margin-bottom: 5px
}

#settings .subscription-form .city-wrapper li.item {
	position: relative;
	display: inline-block;
	*display: inline;
	margin: 0 10px 10px 0;
	padding: 0 18px 0 5px;
	border: 1px solid #c3c3c3;
	color: #333;
	*zoom: 1
}

#settings .subscription-form .city-wrapper li.no-item,#settings .subscription-form .city-wrapper li.no-subscribe
	{
	display: inline-block;
	*display: inline;
	margin-top: 1px;
	*zoom: 1;
	*vertical-align: top
}

#settings .subscription-form .city-wrapper li.no-subscribe {
	margin-right: 16px
}

#settings .subscription-form .city-wrapper .item .existent {
	margin-right: 1em;
	font-weight: bold
}

#settings .subscription-form .city-wrapper .item .close {
	position: absolute;
	top: 3px;
	right: 3px;
	height: 15px;
	width: 15px;
	background: url(image/bg-subscribe-close.png) 0 0 no-repeat;
	cursor: pointer;
	text-indent: -9999px
}

#settings .subscription-form .add-city {
	position: relative;
	width: 220px;
	padding: 10px 20px;
	border: 1px solid #aad1fd;
	background: #e6f5ff
}

#settings .subscription-form .add-city p {
	height: 21px;
	line-height: 21px
}

#settings .subscription-form .add-city .error {
	color: #C33
}

#settings .subscription-form .add-city .add {
	position: absolute;
	right: 20px;
	top: 34px
}

#settings .subscription-form .operate {
	margin-top: 30px;
	padding-left: 30px
}

#settings .address-table {
	margin: 5px 0 5px
}

#settings .address-table th {
	width: 95px;
	vertical-align: top;
	padding: 5px 0;
	font-weight: normal;
	text-align: right
}

#settings .address-table td {
	padding: 5px;
	width: 540px
}

#settings .address-table .blk-error {
	display: none;
	width: 440px;
	border: 1px solid #f60;
	height: 25px;
	line-height: 25px;
	margin: 5px 0 0;
	padding-left: 28px;
	padding-right: 10px;
	background: #fff2e9 url(image/bg-sys-icons.gif) no-repeat 5px 5px
}

#settings .address-province {
	width: 140px;
	margin-right: 15px
}

#settings .address-city {
	width: 140px;
	margin-right: 15px
}

#settings .address-district {
	width: 140px;
	margin-right: 15px
}

#settings .address-biz {
	width: 140px;
	margin-right: 15px
}

#settings .address-building {
	width: 140px;
	margin-right: 15px
}

#settings .address-zipcode {
	width: 120px
}

#settings .address-detail {
	width: 470px
}

#settings .address-city-detail {
	width: 270px
}

#settings .address-name {
	width: 120px
}

#settings .address-phone {
	width: 120px
}

#settings .address-floor {
	width: 40px
}

#settings .address-room {
	width: 60px
}

#credit .mainbox {
	padding-bottom: 50px
}

#credit .balance {
	margin: 10px 0
}

#credit .balance strong {
	font-size: 24px;
	color: #c33;
	vertical-align: -4px;
	font-family: helvetica, arial, sans-serif
}

#credit .balance a {
	margin-left: 10px
}

#credit .balance p {
	margin: 10px 0
}

#credit .balance p strong {
	font-size: 14px;
	vertical-align: top
}

#credit .table-section .detail {
	text-align: left
}

#credit .table-section .income {
	color: #469800;
	font-weight: bold;
	text-align: right;
	padding-right: 20px
}

#credit .table-section .expense {
	color: #b2302d;
	font-weight: bold;
	text-align: right;
	padding-right: 20px
}

#credit .table-section a {
	color: #666
}

#credit .table-section .op a {
	font-size: 12px;
	color: #399
}

#credit .notice {
	padding: 10px 0
}

#credit .side-credit-card .f-input {
	display: block;
	width: 185px
}

#credit .side-credit-card .act {
	margin-top: 10px
}

#credit .side-credit-card-notice {
	padding: 5px 0 5px;
	color: red
}

#credit .credit-card-link {
	background: url(image/blue_arrow.gif) no-repeat 0 8px;
	padding-left: 12px
}

#credit .side-credit-card .captcha {
	display: none;
	margin-top: 10px
}

#credit .side-credit-card .captcha .f-input {
	margin-bottom: 5px
}

#credit .side-credit-card .show {
	display: block
}

#points .mainbox {
	padding-bottom: 50px
}

#points .coupons-table {
	margin: 10px 0;
	width: 100%
}

#points .coupons-table th,#points .coupons-table td {
	text-align: center
}

#points .coupons-table .detail {
	text-align: left
}

#points .points-intro {
	background: #fffbcc;
	border: 1px solid #ffec19;
	margin: 0 0 10px;
	padding: 10px
}

#points .points-intro strong {
	color: #c33;
	margin: 0 6px
}

#points .points-title {
	padding-bottom: 12px;
	border-bottom: 1px dashed #ccc
}

#points .points-title strong {
	font-size: 24px;
	color: #c33
}

#charge .total {
	color: #c33
}

#charge .charge {
	margin-left: 10px
}

#charge h2 a {
	float: right;
	font-size: 14px;
	font-weight: normal;
	line-height: 42px
}

#charge .number {
	margin-top: 10px
}

#charge .number .f-text {
	width: 150px
}

#charge .tip {
	height: 20px;
	color: #349835
}

#charge .choose {
	padding-top: 5px;
	margin-left: 10px
}

#charge .paytype-list {
	margin: 10px 0
}

#charge .commit {
	margin-top: 30px
}

#charge .captcha {
	margin-top: 10px
}

#charge .captcha img {
	height: 30px;
	vertical-align: top;
	border: 1px #CCC solid;
	border-radius: 3px;
	*height: 30px
}

#charge .captcha span.change-img {
	margin: 0 0 0 4px;
	font-size: 12px;
	line-height: 32px;
	vertical-align: top;
	color: #399;
	cursor: pointer;
	zoom: 1
}

#charge .captcha span:hover {
	text-decoration: underline
}

#charge #order-check-type-form .field-group {
	padding-left: 0
}

#charge #account-charge-form .field-group {
	padding-left: 85px
}

#charge #account-charge-form label {
	width: 75px
}

#charge #account-charge-form span.unit {
	display: inline-block;
	*display: inline;
	margin-left: 5px;
	padding-top: 4px;
	zoom: 1
}

#charge #account-charge-form p {
	margin: 0 0 10px 20px
}

#charge-return .mainbox {
	min-height: 0;
	height: 100px
}

.pg-withdraw .field-group {
	margin-bottom: 3px;
	padding-left: 100px;
	padding-bottom: 18px
}

.pg-withdraw .field-group label {
	width: 90px
}

.pg-withdraw .field-group .balance {
	font-family: helvetica, arial, sans-serif
}

.pg-withdraw .field-group select {
	margin: 0;
	padding: 3px 0;
	height: 32px
}

.pg-withdraw .field-group .no-branch {
	margin: 10px 0
}

.pg-withdraw .field-group .no-branch .normal {
	width: auto;
	line-height: 32px;
	*zoom: 1
}

.pg-withdraw .bank .tip {
	margin-bottom: -18px
}

.pg-withdraw .common-form .normal {
	padding-left: 0
}

.pg-withdraw .can-withdraw {
	color: #C00;
	font-weight: bold
}

.pg-withdraw .no-withdraw .inline-tip {
	padding: 0
}

.pg-withdraw .common-form .withdraw-money {
	width: 150px
}

.pg-withdraw .common-form .withdraw-money-tip {
	margin: 20px 0 5px;
	font-size: 14px;
	font-weight: bold;
	color: #424242
}

.pg-withdraw .common-form .withdraw-money-tip span {
	font-size: 12px
}

.pg-withdraw .info-section {
	margin-top: 40px
}

.pg-withdraw .view-detail {
	display: inline-block;
	margin-top: 40px
}

.pg-withdraw .withdraw-failure {
	margin-top: 20px;
	font-size: 16px
}

.pg-withdraw .withdraw-failure a {
	margin-left: 20px
}

.pg-withdraw .withdraw-tip {
	margin-top: 20px
}

.pg-withdraw .withdraw-tip li {
	list-style: inside disc
}

#withdraw-promt-dialog .body {
	padding-left: 70px
}

#withdraw-promt-dialog .body strong {
	font-size: 16px;
	color: #C00
}

#withdraw-promt-dialog .choose {
	margin: 20px 0
}

#withdraw-promt-dialog .choose .cancel {
	margin-left: 20px
}

.pg-withdraw-detail .withdraw-bank .intro {
	margin: 10px 0 20px
}

.pg-withdraw-detail .withdraw-bank .intro strong {
	color: #C00
}

.pg-withdraw-detail .withdraw-bank .field-group {
	padding-left: 100px;
	padding-bottom: 18px
}

.pg-withdraw-detail .withdraw-bank .field-group label {
	width: 90px
}

.pg-withdraw-detail .withdraw-bank .field-group select {
	height: 32px;
	padding: 3px 0;
	margin: 0
}

.pg-withdraw-detail .withdraw-bank .field-group input {
	vertical-align: middle
}

.pg-withdraw-detail .withdraw-bank .field-group .no-branch {
	display: block;
	margin-top: 10px
}

.pg-withdraw-detail .withdraw-tip {
	margin-top: 20px
}

.pg-withdraw-detail .withdraw-tip li {
	list-style: inside disc
}

.pg-withdraw-success .result-operation {
	margin-bottom: 20px
}

.pg-withdraw-success .withdraw-tip {
	margin-top: 15px;
	margin-bottom: 30px
}

.pg-withdraw-success .withdraw-tip li {
	list-style: inside disc;
	font-size: 12px
}

.pg-withdraw-success .withdraw-tip h4 {
	margin-bottom: 10px
}

.pg-refund-success .result-operation {
	margin-bottom: 30px
}

.pg-refund-success .info-section {
	text-align: left;
	padding: 15px 16px;
	line-height: 2em
}

.pg-refund-success .info-section span.label {
	font-weight: bold
}

#order-return .mainbox {
	min-height: 0;
	height: 100px
}

#order-return .mainbox h2 {
	font-size: 14px;
	border: 0;
	padding: 0;
	margin: 0 0 10px;
	color: #666
}

.pg-order-return .sect {
	padding: 20px 50px 50px;
	width: auto
}

.pg-order-return .failure-guide {
	margin: 0 auto 30px 20px;
	text-align: left
}

.pg-order-return .failure-guide li {
	list-style: outside disc
}

.pg-order-return .failure-guide li em {
	color: #C00
}

.pg-order-return .invite {
	margin: 10px 0;
	padding: 8px 15px;
	border: 1px #f6e0af solid;
	background: #fffbf2;
	font-size: 12px
}

.pg-order-return .invite span.label {
	float: left;
	font-weight: bold
}

.pg-order-return .invite .deal-share-wrapper {
	float: left;
	width: 544px
}

.pg-order-return .deal-share-wrapper .effect-assistance {
	clear: left;
	float: left;
	width: 100%
}

.pg-order-return .deal-share span {
	float: left
}

.pg-order-return .deal-share ul {
	float: left
}

.pg-order-return .deal-share li {
	float: left;
	margin-right: 10px
}

.pg-order-return .deal-share a {
	display: block;
	padding-left: 18px;
	background: url(iimage/cons-share.png) no-repeat 0 -358px;
	color: #000;
	vertical-align: middle
}

.pg-order-return .deal-share a:hover {
	color: #0981be
}

.pg-order-return .deal-share .renren {
	background-position: 0 -78px
}

.pg-order-return .deal-share .douban {
	background-position: 0 -118px
}

.pg-order-return .deal-share .email {
	background-position: 0 -158px
}

.pg-order-return .deal-share .sina {
	background-position: 0 -200px
}

.pg-order-return .deal-share .t139 {
	background-position: 0 -238px
}

.pg-order-return .deal-share .qq {
	background-position: 0 -278px
}

.pg-order-return .deal-share .qzone {
	background-position: 0 -318px
}

.pg-order-return .deal-share a.collapse {
	background: url(image/icon-arrow.png) no-repeat 29px -22px;
	float: right;
	padding: 10px 20px 0 0;
	color: #399;
	margin: 0;
	*float: none;
	*margin-left: 70px
}

.pg-order-return .deal-share a.collapse:hover {
	color: #399;
	text-decoration: underline
}

.pg-order-return .deal-share-im-content {
	clear: left;
	float: left;
	position: relative;
	width: 100%;
	padding: 10px 0 0
}

.pg-order-return .deal-share-im-content .small-form-button {
	margin-left: 10px
}

.pg-order-return .deal-share-im-content .collapse {
	position: absolute;
	bottom: 0;
	right: 0
}

.pg-order-return .pay-success-box {
	text-align: center
}

.pg-order-return .pay-success {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 auto;
	padding: 0 0 20px 65px;
	background: url("image/sys-icons-48.png") no-repeat 0 8px
}

.pg-order-return .pay-success h2 {
	border: 0;
	margin: 0;
	padding: 0;
	text-align: left
}

.pg-order-return .pay-success p {
	text-align: left
}

.pg-order-return .pay-success-msg {
	margin: 15px 0
}

.pg-order-return .pay-success-notice {
	background: #fffbf2;
	margin: 0;
	padding: 10px 15px;
	border: 1px solid #f6e0af;
	font-size: 12px
}

.pg-order-return .pay-success-notice h5 {
	margin: 0 0 4px
}

.pg-order-return .pay-success-notice li {
	list-style: disc outside;
	margin: 0 0 0 20px
}

.pg-order-return .pay-success-notice .qr-code-tip-box {
	background: url(image/qr-code.png) no-repeat right center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #f6e0af
}

.pg-order-return .pay-success-notice .no-message {
	color: red
}

.pg-order-return .bottom-recommend-deals {
	width: 700px;
	margin: 10px 0 0;
	border: 1px solid #d4d4d4;
	background: #FFF;
	overflow: hidden
}

.pg-order-return .bottom-recommend-deals h3 {
	height: 32px;
	padding: 0 12px;
	line-height: 32px;
	font-size: 14px;
	background: #EEE;
	border-bottom: 1px #FFF solid;
	background-image: -moz-linear-gradient(top, #FFF, #eaecec);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF),
		to(#eaecec) );
	background-image: linear-gradient(top, #FFF, #eaecec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',
		endColorstr='#EAECEC' );
	box-shadow: 0 1px 0 #eaecec
}

.pg-order-return .bottom-recommend-deals .innerbox {
	width: 101%;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0
}

.pg-order-return .bottom-recommend-deals .deal {
	width: 210px;
	padding: 11px 11px 11px 12px;
	font-size: 12px;
	line-height: 1.5;
	border-top: 1px dashed #e0e0e0
}

.pg-order-return .bottom-recommend-deals .no-border {
	border: 0
}

.pg-order-return .bottom-recommend-deals .deal .pic {
	display: block;
	width: 210px;
	height: 126px;
	margin: 0 auto 6px
}

.pg-order-return .bottom-recommend-deals .deal h4 {
	height: 42px;
	margin-bottom: 4px
}

.pg-order-return .bottom-recommend-deals .deal h4 a {
	font-weight: normal;
	color: #666
}

.pg-order-return .bottom-recommend-deals .info {
	position: relative;
	color: #666;
	font-family: Helvetica, arial, sans-serif;
	zoom: 1;
	font-size: 12px;
	font-weight: normal
}

.pg-order-return .bottom-recommend-deals .info strong {
	margin-right: 5px;
	font-size: 16px;
	color: #c33
}

.pg-order-return .bottom-recommend-deals .info .see {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 73px;
	height: 24px;
	background: url(image/btn-side-deal-see.png);
	text-indent: -9999px;
	outline: 0
}

.pg-order-return .bottom-recommend-deals .info .see:hover {
	background-position: 0 -30px
}

.pg-order-return .bottom-recommend-deals .info .see:active {
	background-position: 0 -60px
}

#verify #bind-mobile {
	margin: 50px 0 0 0
}

#bind-mobile .f-text {
	width: 120px
}

#bind-mobile .f-verify {
	margin-left: 10px;
	padding: 3px 5px 3px;
	*padding: 5px 1px 0;
	margin-top: -3px;
	cursor: pointer;
	font-size: 14px
}

#bind-mobile .error {
	color: #c33
}